.common-goods-layout__corner-mark {
  .deco-control-group {
    padding-top: 0px;
  }

  .corner-mark-image {
    vertical-align: text-bottom;
  }

  .corner-mark-image-tips {
    font-size: 12px;
    color: #999;
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}
