.third-coupon-editor {
  padding-bottom: 10px;

  &__source {
    margin-bottom: 6px;
    margin-top: -4px;
  }

  .zent-input-wrapper {
    display: inline-block;
    width: 150px;

    input {
      width: 150px;
    }
  }

  .zenticon-help-circle {
    margin-left: 3px;
    color: #bbb;
    font-size: 13px;
  }

  .zent-design-editor__control-group-error {
    margin-left: 0;
  }

  .coupon-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__coupon-num {
    .zent-design-editor__control-group-label--top {
      margin-top: 6px;
    }

    .deco-control-group {
      padding: 10px 0;
    }

    .zent-checkbox-wrap {
      float: right;
    }
  }

  .deco-editor-card {
    width: 100%;
    .deco-editor-card-item {
      height: 40px;
      line-height: 40px;
      padding: 0 8px;
      font-size: 14px;
    }
  }

  .decorate-divider {
    margin-top: 13px;
  }

  &__drag {
    display: inline-block;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(https://img.yzcdn.cn/public_files/2019/02/11/6c383209a91d0cba0c46b906f3d027d2.png);
  }
}
