.decorate-third-goods-editor {

  &--tag-list {
    &__item {
      .zent-input-wrapper {
        display: inline-block;
      }
    }
  }

  &--goods-tag {
    &__controls-card {
      .zent-input-wrapper {
        width: 60px;

        input {
          min-width: 40px;
        }
      }
    }
  }

  .zent-radio-wrap {
    margin-right: 16px;

    .zent-radio + span {
      margin: 0 8px;
    }
  }

  .upload-divider {
    height: 1px;
    padding: 24px 16px 10px;
    background-clip: content-box;
    background-color: #EBEDF0;
  }
}
